<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>AppName</param-name>
    <param-value>MyApp</param-value>
  </context-param>
  <servlet>
    <servlet-name>servletName</servlet-name>
    <servlet-class></servlet-class>              <!--执行指定的类-->
  </servlet>
  <servlet-mapping>
    <servlet-name>servletName</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <!--错误跳转页面-->
  <error-page>
    <error-code>500</error-code>        <!--错误代码-->
    <location></location>               <!--跳转页面-->
  </error-page>

  <filter>
    <filter-name>filterName</filter-name>
    <filter-class></filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filterName</filter-name>
    <url-pattern>/*</url-pattern>        <!--匹配的地址-->
  </filter-mapping>
  <!--欢迎页面-->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
